HELP.md
target/
!.mvn/
!**/src/main/**
!**/src/test/**

out
log
*.patch
*.ser

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
mvnw
mvnw.cmd

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### Eclipse ###
.metadata
.recommenders

### VS Code ###
.vscode/

server_reques.json
application.properties