<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <object th:include="fragments :: head" th:remove="tag" />

    <script th:src="@{/js/user/main.js}"></script>
</head>
<body>

<header th:replace="fragments :: header" />

<main>
    <aside>
        <section th:replace="fragments :: user-nav" />
    </aside>
    <article sec:authorize="hasAnyRole('USER', 'ADMIN')" class="container">
        <div >
            <span sec:authorize="hasRole('ADMIN')">I`m a admin!</span>
            <span sec:authorize="hasRole('USER')">I`m a user!</span>
        </div>
    </article>
</main>

<footer th:replace="fragments :: footer" />

</body>
</html>